.whats{
  position: fixed;
  top: 30px;
  left: 80px;
  z-index: 800;
  color: #0ff;
  width: 60px;
  transition: 0.3s ease;
  cursor: pointer;
  border-radius: 40%;
  transition: 0.5s ease;
}
.whats:hover{
    transform: scale(1.1);
}

@media (max-width: 868px){
  .whats{
  top:100px;
  left: 30px;
  width: 50px;
}
.whats:hover{
    width: 55px;
}
}

@media (max-width: 480px){
  .whats{ 
  left: 30px;
  width: 40px;
}
.whats:hover{
    width: 45px;
}

}