.hero {
  width: 100%;
  background: linear-gradient(to right, #07050b, #2a003f, #890b70, #089595);
  /*A propriedade background-size: 300% 300% faz o gradiente ser maior do que o container, permitindo o deslocamento visível durante a animação.*/
  background-size: 300% 300%;
  animation: gradientAnimation 10s ease infinite 2s,
             fadeIn 2s ease forwards;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 0px 2rem 50px 2rem;
  text-align: center; 
  display: flex;
  flex-flow: column;
}

@keyframes gradientAnimation {
  0% {
    /*background-position: determina a posição do fundo (gradiente) na horizontal x% e vertical y%.
    Começa com o fundo alinhado à esquerda (0%) e centralizado verticalmente (50%).*/
    background-position: 0% 50%;
  }
  /*50%: no meio da animação, o fundo está totalmente à direita (100%), ainda centralizado na vertical*/
  50% {
    background-position: 100% 50%;
  }
  /*100%: volta ao início — loop infinito suave*/
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeIn {
  /*No início 0%: o elemento está totalmente transparente*/
  0% {
    opacity: 0;
  }
  /*No fim 100%: o elemento está totalmente visível*/
  100% {
    opacity: 1;
  }
}

.sobre_mim_container{
    width: 90%;
    display: flex;
    align-items: start;
    justify-content: center;
}

.sobre_mim_container_img,
.sobre_mim_container_texto{
    width: 680px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.sobre_mim_container_img img{
  width: 40%;
  box-shadow: 0 0 20px #0ff;
  border-radius: 18px;
}

h1{
  margin-bottom: 1.5rem;
  text-shadow: 0px 0px 3px black;
}

.container_buttons{
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.button {
  background-color: #ff00cc;
  color: #000;
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: 0.3s ease;
}

.button:hover {
  background-color: #00baba;
}

h3{
  color: #0ff;
  text-shadow: 0px 0px 3px black;
  text-align: center;
  margin-bottom: 10px;
}

.hero_tecnologias{
   color: rgba(190,189,190,255);
   text-shadow: 0px 0px 3px black;
   text-align: center;
}

.texto{
    color: #fff;
    text-shadow: 0px 0px 3px black;
    margin-top: 15px;
    font-size: 17px;
    text-align: justify;
    text-indent: 20px;
}

h4{
   color: #0ff;
   text-shadow: 0px 0px 3px black;
   margin-top: 18px;
   margin-bottom: -10px;
   align-self: self-start;
   font-size: 1.1rem;
}

.lista{
  color: #fff;
  margin-top: 15px;
  text-align: justify;
  line-height: 25px;
  text-shadow: 0px 0px 3px black;
}


/*Responsividade*/
@media (max-width:805px){
  .hero{
    padding: 50px 2rem 50px 2rem;
  }

  .sobre_mim_container{
    width:100%;
    margin-top: 20px;
    flex-flow: column;
    gap: 20px;
}

  .sobre_mim_container_img,
  .sobre_mim_container_texto{
      width: 100%;
      gap: 30px;
  }

.texto{
    color: #fff;
    margin-top: 0px;
    font-size: 17px;
    text-align: justify;
    text-indent: 20px;
}

  .container_buttons{
    margin-top: 0px;
    margin-bottom: 20px;
}

h4{
   margin-top: 0px;  
   margin-bottom: -30px;
}

.lista{
  text-align: start;
  margin-left: -50px;
}
 
}

@media (max-width: 480px){
  .sobre_mim_container {
    gap: 15px;
  } 

  .lista{
  margin-left: 0px;
}
}