.hero {
  width: 100%;
  background: linear-gradient(to right, #07050b, #2a003f, #890b70, #089595);
  /*A propriedade background-size: 300% 300% faz o gradiente ser maior do que o container, permitindo o deslocamento visível durante a animação.*/
  background-size: 300% 300%;
  animation: gradientAnimation 10s ease infinite 2s,
             fadeIn 2s ease forwards;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 0px 2rem 80px 2rem;
  text-align: center; 
  display: flex;
  flex-flow: column;
}

@keyframes gradientAnimation {
  0% {
    /*background-position: determina a posição do fundo (gradiente) na horizontal x% e vertical y%.
    Começa com o fundo alinhado à esquerda (0%) e centralizado verticalmente (50%).*/
    background-position: 0% 50%;
  }
  /*50%: no meio da animação, o fundo está totalmente à direita (100%), ainda centralizado na vertical*/
  50% {
    background-position: 100% 50%;
  }
  /*100%: volta ao início — loop infinito suave*/
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeIn {
  /*No início 0%: o elemento está totalmente transparente*/
  0% {
    opacity: 0;
  }
  /*No fim 100%: o elemento está totalmente visível*/
  100% {
    opacity: 1;
  }
}

h1{
  margin-bottom: 1.5rem;
}

h3, p{
  text-align: center;
}

h3{
  margin-bottom: 10px;
}

.titulo_sobre_mim{
  font-size: 2.5rem;
  text-align: center;
  margin: 15px 0px 30px 0px;
  color: #0ff;
  position: relative;
}

.titulo_sobre_mim::after {
  content: '';
  width: 60px;
  height: 4px;
  background-color: #0ff;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
}

.hero_tecnologias{
   color: rgba(190,189,190,255);
}

.sobre_mim_container{
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    align-items: start;
    justify-content: center;
    margin-top: 50px;
    gap: 150px;
}

.sobre_mim_container_img,
.sobre_mim_container_texto{
    width: 500px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    gap: 0px;
}

.sobre_mim_container_img img{
  width: 40%;
  box-shadow: 0 0 20px #0ff;
  border-radius: 18px;
}

.button {
  background-color: #ff00cc;
  color: #000;
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: 0.3s ease;
}

.button:hover {
  background-color: #00baba;
}

.container_buttons{
  display: flex;
  gap: 30px;
  margin-top: 30px;
}


@media (max-width:868px){
  .sobre_mim_container{
    width: 90%;
    display: flex;
 
    border: 5px solid red;
}
  .hero{
    padding: 50px 2rem 0px 2rem;
  }

  .sobre_mim_container{
    width:100%;
    margin-top: 20px;
    flex-flow: column;
    gap: 20px;
}

  .sobre_mim_container_img,
  .sobre_mim_container_texto{
      width: 100%;
      gap: 30px;
  }

  .sobre_mim_container_texto h2{
      margin-bottom: 0px;
  }

  .container_buttons{
    margin-top: 0px;
    margin-bottom: 50px;
}
 
}

@media (max-width: 480px){
  .sobre_mim_container {
    gap: 15px;
  } 
}