/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v23-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body{
  background: linear-gradient(to right, #07050b, #1a0e19, #2e1929);
}

h1, 
.titulo {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 3rem;
  color: #0ff;
  position: relative;
}

h1::after,
.titulo::after {
  content: '';
  width: 60px;
  height: 4px;
  background-color: #0ff;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
}

.subtitulo{
  color: #fff;
  font-size: 2rem;
}

.texto{
  color: rgba(190,189,190,255);
  font-size: 18px;
}

/* Estado inicial (invisível e fora da tela) */
.hidden {
       opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 3s ease-in-out forwards; /* 3 segundos de animação suave */
}

/* Estado visível (suavemente visível e na posição certa) */
.show {
  opacity: 1;
  transform: translateY(0);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px); /* Começa bem distante */
  }
  50% {
    opacity: 0.5;
    transform: translateY(25px); /* Meio da animação */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Posição final */
  }
}


@media (max-width:868px){
  h1,
  .titulo{
  font-size: 2rem;
}

.subtitulo{
  font-size: 1.8rem;
}
}

